/*
*  ----[ Table Of Contents]----
*
* 1) Mixins
* 2) Nav Bar Component
* 3) Currency component
* 4) Converter Component
* 5) Form Serarch Component
* 6) Event Handlers
* 7) Media Queries
**/

//--Mixins
@mixin boxDecoration() {
  border-radius: 4px;
  box-shadow: 1px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

@mixin animateFrame($name, $duration: '0.7s', $direction: 'normal') {
  $positionOrigin: 'left top';
  animation-direction: #{$direction};
  animation-duration: #{$duration};
  animation-fill-mode: forwards;

  animation-name: #{$name};

  @if $name == 'slideLeft' {
    @keyframes #{$name} {
      from {
        transform: translate(100vw, 0);
      }
      to {
        transform: translate(0, 0);
      }
    }
  }

  @if $name == 'opacity' {
    @keyframes #{$name} {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  @if $name == 'rotate' {
    @keyframes #{$name} {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }
  }
}

// -- Nav Bar Component
.nav {
  padding: 10px;
}
.navLink {
  padding: 5px;
  text-decoration: none;

  & > * {
    text-decoration: none !important;
  }

  .active {
    background-color: rgb(29, 167, 247);
    border-radius: 5px;
    color: #fff0f5;
    padding: inherit;
  }
}

// --Currency component
.currency_list_wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0;
  text-align: left;
}
.currency_element {
  @include boxDecoration();
  @include animateFrame('opacity', '1s');
  background-color: rgb(235, 235, 235);
  margin-top: 10px;
  max-width: 380px;
  min-height: 80px;
  padding: 4px 0 5px;

  & > * {
    margin: 0;
    max-width: 100%;
    padding: 5px 15px 5px;
  }
}

.currency_data_wrapper > * {
  padding: inherit;
}

.delta_wrapper {
  margin-left: 3px;

  & > * {
    padding: 0;
  }
}

.spinner-border {
  position: absolute;
  top: 50%;
}

//--Converter Component
.converter_wrapper {
  display: flex;
  height: 60vh;
  justify-content: center;

  & > * {
    align-self: center;
    justify-content: center;
    text-align: center;
  }
  form {
    @include boxDecoration();
    @include animateFrame('opacity');
    background-color: rgb(236, 235, 232);
    padding: 8px;
    text-align: left;

    label {
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    select,
    input {
      background-color: inherit;
      border: none;
      outline: none;
    }
    input {
      background-color: inherit;
      border-bottom: 1.5px solid rgb(56, 120, 180);
      margin-left: 5px;
      margin-right: 20px;
      max-width: 50%;
    }
  }
  .converter_2 input {
    border-color: rgb(190, 190, 194);
  }
  .converter_arrow {
    @include boxDecoration();

    align-self: center;
    background-color: rgb(236, 235, 232);
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    padding: 0;
    transition: transform 0.2s;
    user-select: none;
    width: 25px;
  }
}

//--Form Serarch Component
.searchForm {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  width: 380px;

  input {
    border: none;
    border-bottom: 0.5px solid rgb(56, 120, 180);
    margin-right: 20px;
    outline: none;
    width: 80%;
  }
}

//--Event Handlers
.converter_arrow:hover {
  background-color: rgb(228, 226, 220);
  transform: scale(1.18);
}
.converter_arrow:active {
  background-color: rgb(235, 231, 225);
}

//--Media Queries
@media only screen and (max-width: 576px) {
  .delta_wrapper {
    margin-left: 5px;
  }
  .converter_wrapper > * {
    flex-direction: column;
    gap: 20px;
  }
  .currency_element,
  .searchForm {
    width: 90vw;
  }
  .currency_el_label {
    font-size: 4.2vmin;
  }
  .currency_data_wrapper {
    font-size: 3.7vmin;
  }
}

@import 'error';
