/*
*  ----[ Table Of Contents]----
*
* 1) Mixins
* 2) Nav Bar Component
* 3) Currency component
* 4) Converter Component
* 5) Form Serarch Component
* 6) Event Handlers
* 7) Media Queries
**/

//--Mixins
@mixin boxDecoration() {
  border-radius: 4px;
  box-shadow: 1px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
@mixin animateFrame($name, $duration: '0.7s', $timing: 'ease-in-out') {
  $positionOrigin: 'left top';

  animation-name: #{$name};
  animation-duration: #{$duration};
  animation-fill-mode: forwards;
  animation-direction: #{$timing};

  @if $name == 'slideLeft' {
    @keyframes #{$name} {
      from {
        transform: translate(100vw, 0vh);
      }
      to {
        transform: translate(0vw, 0vh);
      }
    }
  }

  @if $name == 'opacity' {
    @keyframes #{$name} {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }

  @if $name == 'rotate' {
    @keyframes #{$name} {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(180deg);
      }
    }
  }
}

// -- Nav Bar Component
.nav {
  padding: 10px;
}
.navLink {
  padding: 5px;
  text-decoration: none;

  & > * {
    text-decoration: none !important;
  }

  .active {
    border-radius: 5px;
    padding: inherit;
    background-color: rgb(29, 167, 247);
    color: lavenderblush;
  }
}

// --Currency component
.currency_list_wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 15px 0px 0px;
}
.currency_element {
  padding: 4px 0 5px;
  margin-top: 10px;
  max-width: 380px;
  min-height: 80px;
  background-color: rgb(235, 235, 235);

  @include boxDecoration();
  @include animateFrame('opacity', '1s');

  & > * {
    max-width: 100%;
    margin: 0;
    padding: 5px 15px 5px;
  }
}

.currency_data_wrapper > * {
  padding: inherit;
}

.delta_wrapper {
  margin-left: 3px;

  & > * {
    padding: 0;
  }
}

.spinner-border {
  position: absolute;
  top: 50%;
}

//--Converter Component
.converter_wrapper {
  display: flex;
  height: 60vh;
  justify-content: center;

  & > * {
    justify-content: center;
    text-align: center;
    align-self: center;
  }
  form {
    text-align: left;
    padding: 8px;
    background-color: rgb(236, 235, 232);

    @include boxDecoration();
    @include animateFrame('opacity');

    label {
      font-size: 14px;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    select,
    input {
      background-color: inherit;
      outline: none;
      border: none;
    }
    input {
      max-width: 50%;
      margin-left: 5px;
      border-bottom: 1.5px solid rgb(56, 120, 180);
      margin-right: 20px;

      background-color: inherit;
    }
  }
  .converter_2 input {
    border-color: rgb(190, 190, 194);
  }
  .converter_arrow {
    @include boxDecoration();

    align-self: center;
    background-color: rgb(236, 235, 232);
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
  }
}

//--Form Serarch Component
.searchForm {
  width: 380px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  input {
    border: none;
    border-bottom: 0.5px solid rgb(56, 120, 180);
    margin-right: 20px;
    outline: none;
    width: 80%;
  }
}

//--Event Handlers
.converter_arrow:hover {
  background-color: rgb(228, 226, 220);
  transform: scale(1.18);
}
.converter_arrow:active {
  background-color: rgb(235, 231, 225);
}

//--Media Queries
@media only screen and (max-width: 576px) {
  .delta_wrapper {
    margin-left: 5px;
  }
  .converter_wrapper > * {
    flex-direction: column;
    gap: 20px;
  }
  .currency_element,
  .searchForm {
    width: 90vw;
  }
  .currency_el_label {
    font-size: 4.2vmin;
  }
  .currency_data_wrapper {
    font-size: 3.7vmin;
  }
}
